:root {
  --white: #ffffff;
  --blue: #499bea;
  --darkgrey: #555555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;

  font-family: "Manjari", "Arial", sans-serif;
}

.overflow-hidden {
  overflow: hidden;
}

header {
  padding-top: 10px;

  background: var(--blue);
  background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.person {
  display: flex;
  justify-content: flex-start;
  padding: 10px;

  color: var(--white);
}

.person__image {
  max-height: 200px;

  border-radius: 50%;
}

.person__contacts {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 30px;
}

.person__vacancy {
  margin: 0;

  font-size: 36px;
  font-weight: 700;
}

.person__name {
  margin: 0;

  font-size: 30px;
}

.person__extra-information {
  padding-top: 10px;

  line-height: 150%;
}

.person__extra-information a {
  text-decoration: none;
  color: var(--white);
}

.person__nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 20px;
}

.person__nav li {
  display: inline-block;
  padding-left: 20px;
}

.person__nav a {
  text-decoration: none;
  color: inherit;
}

main {
  color: var(--darkgrey);
  font-size: 18px;
}

main .container {
  padding: 0 10px;
}

main h2 {
  margin-top: 30px;
}

main p {
  margin-top: 20px;
}

main a {
  color: var(--blue);
}

main a:hover {
  color: var(--darkgrey);
}

.skills {
  width: 80%;
}

.skills li {
  display: inline-block;
  margin-left: 40px;

  line-height: 150%;
}

.skills li:before {
  content: "";
  position: absolute;

  display: list-item;

  line-height: 130%;
}

.education ul {
  margin-left: 40px;
}

footer {
  margin-top: 30px;

  background: var(--blue);
  background: linear-gradient(to bottom, #207ce5 0%, #499bea 100%);
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon__email,
.icon__skype,
.icon__fb,
.icon__te,
.icon__vk,
.icon__git {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 20px 10px;
}

.icon__email-svg,
.icon__skype-svg,
.icon__fb-svg,
.icon__te-svg,
.icon__vk-svg,
.icon__git-svg {
  width: 40px;

  transition: width 0.3s;
}

.icon__email-svg:hover,
.icon__skype-svg:hover,
.icon__fb-svg:hover,
.icon__te-svg:hover,
.icon__vk-svg:hover,
.icon__git-svg:hover {
  width: 50px;
}

.expansion-panel__checkbox {
  display: none;
}

.expansion-panel__label {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: "Manjari", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 31.5px;
  border-top: 5px solid var(--darkgrey);
  border-bottom: 2px solid var(--darkgrey);
  padding-top: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.expansion-panel__label::after {
  content: url("../assets/menu-to-close.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  right: 3px;
  top: 10px;
}

.expansion-panel__checkbox ~ .education {
  transition: max-height 0.3s, opacity 0.3s;
  opacity: 1;
  max-height: 450px;
}

.expansion-panel__checkbox:checked ~ .education {
  opacity: 0;
  max-height: 0;
  display: none;
}

.expansion-panel__checkbox:checked + .expansion-panel__label::after {
  content: url("../assets/menu-to-open.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  right: 3px;
  top: 10px;
}

.iframe_theyalow,
.iframe_repair {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  overflow: hidden;
  background: #000;
  z-index: 999;

  display: none;
}

.iframe_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #363636;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.projects-title {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 5px solid var(--darkgrey);
}

.portfolio-buttons {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 10px;
  z-index: 9999;
}

.portfolio__button-to-mobile,
.portfolio__button-to-desktop,
.portfolio__button-back {
  display: block;
  width: 100px;
  height: 50px;
  margin-top: 5px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
}

.portfolio__button-to-desktop {
  display: none;
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.swiper-slide {
  position: relative;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle_off {
  display: none;
  visibility: hidden;
}

.swiper-slide__text {
  display: block;
  margin-right: 10px;
}

.swiper-slide__text-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.swiper-slide__image {
  display: block;
  height: 100%;
}

.swiper-slide__image img {
  height: 100%;
}

.swiper-slide__toggle-description,
.swiper-slide__toggle-image {
  position: absolute;
  width: 100px;
  height: 50px;
  background: grey;
  top: 0;
  right: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  border: 1px solid #000;
  letter-spacing: 1px;
  visibility: hidden;
}

@media screen and (max-width: 620px) {
  .swiper-container {
    width: 100%;
  }

  .swiper-slide__text {
    display: none;
  }

  .swiper-slide {
    justify-content: center;
  }

  .swiper-slide__toggle-description {
    visibility: visible;
  }
}
